# Mac
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Project
*.log
log/*
tmp/*

# IDEA
.idea/*

# For this
settings.yaml
configs/workers
configs/core-site.xml
configs/hdfs-site.xml
configs/yarn-site.xml
configs/yarn-rm-site.xml
configs/mapred-site.xml
configs/hadoop-env.sh

