#!/bin/bash

set -e

echo "step: create dirs"
mkdir -p /tmp/hbe/

echo "step: initdeploy"
hbe initdeploy 0>/tmp/hbe/stdout.txt 1>/tmp/hbe/stdout.txt 2>/tmp/hbe/stdout.txt

echo "step: submit applications"
hbe submit  "./bin/hadoop jar ./share/hadoop/mapreduce/hadoop-mapreduce-examples-3.0.0-beta1.jar pi -Dmapreduce.job.name='PI-50maps-50op'       -Dmapreduce.job.num-opportunistic-maps-percent='50' 50 1"       1>/tmp/hbe/PI-50maps-50op.txt       0>&1 2>&1  &
hbe submit  "./bin/hadoop jar ./share/hadoop/mapreduce/hadoop-mapreduce-examples-3.0.0-beta1.jar pi -Dmapreduce.job.name='PI-500maps-50op'     -Dmapreduce.job.num-opportunistic-maps-percent='50' 500 1"     1>/tmp/hbe/PI-500maps-50op.txt     0>&1 2>&1  &
hbe submit  "./bin/hadoop jar ./share/hadoop/mapreduce/hadoop-mapreduce-examples-3.0.0-beta1.jar pi -Dmapreduce.job.name='PI-1000maps-100op' -Dmapreduce.job.num-opportunistic-maps-percent='100' 1000 1" 1>/tmp/hbe/PI-1000maps-100op.txt 0>&1 2>&1  &
hbe submit  "./bin/hadoop jar ./share/hadoop/mapreduce/hadoop-mapreduce-examples-3.0.0-beta1.jar pi -Dmapreduce.job.name='PI-1000maps-0op'     -Dmapreduce.job.num-opportunistic-maps-percent='0' 1000 1"     1>/tmp/hbe/PI-1000maps-0op.txt     0>&1 2>&1  &

hbe submit "./bin/hadoop jar ./share/hadoop/mapreduce/hadoop-mapreduce-examples-3.0.0-beta1.jar pi -Dmapreduce.job.name='PI-5000maps-50op'     -Dmapreduce.job.num-opportunistic-maps-percent='50' 5000 1"     1>/tmp/hbe/PI-5000maps-50op.txt     0>&1 2>&1 &
hbe submit "./bin/hadoop jar ./share/hadoop/mapreduce/hadoop-mapreduce-examples-3.0.0-beta1.jar pi -Dmapreduce.job.name='PI-5000maps-100op'   -Dmapreduce.job.num-opportunistic-maps-percent='100' 5000 1"   1>/tmp/hbe/PI-5000maps-100op.txt   0>&1 2>&1 &
hbe submit "./bin/hadoop jar ./share/hadoop/mapreduce/hadoop-mapreduce-examples-3.0.0-beta1.jar pi -Dmapreduce.job.name='PI-10000maps-100op' -Dmapreduce.job.num-opportunistic-maps-percent='100' 10000 1" 1>/tmp/hbe/PI-10000maps-100op.txt 0>&1 2>&1 &
hbe submit "./bin/hadoop jar ./share/hadoop/mapreduce/hadoop-mapreduce-examples-3.0.0-beta1.jar pi -Dmapreduce.job.name='PI-10000maps-0op'     -Dmapreduce.job.num-opportunistic-maps-percent='0' 10000 1"     1>/tmp/hbe/PI-10000maps-0op.txt     0>&1 2>&1 &

echo "use ' ps aux | grep hadoop-build-env ' to find more background processes"
