# logging.config
# 2017-09-25

# -- loggers -- 
[loggers]
keys=root,log02,log03

[logger_root]
level=NOTSET
handlers=hand01,hand02

[logger_log02]
handlers=hand01,hand02
qualname=develop
propagate=0

[logger_log03]
handlers=hand02
qualname=production
propagate=0

# -- handlers -- 
[handlers]
keys=hand01,hand02

[handler_hand01]
class=StreamHandler
level=NOTSET
formatter=form01
args=(sys.stdout,)

[handler_hand02]
class=FileHandler
level=DEBUG
formatter=form02
args=('./hbe.log', 'a')

# [handler_hand03]
# class=handlers.SocketHandler
# level=INFO
# formatter=form03
# args=('localhost', handlers.DEFAULT_TCP_LOGGING_PORT)

# [handler_hand04]
# class=handlers.DatagramHandler
# level=WARN
# formatter=form04
# args=('localhost', handlers.DEFAULT_UDP_LOGGING_PORT)

# [handler_hand05]
# class=handlers.SysLogHandler
# level=ERROR
# formatter=form05
# args=(('localhost', handlers.SYSLOG_UDP_PORT), handlers.SysLogHandler.LOG_USER)

# [handler_hand06]
# class=handlers.NTEventLogHandler
# level=CRITICAL
# formatter=form06
# args=('Python Application', '', 'Application')

# [handler_hand07]
# class=handlers.SMTPHandler
# level=WARN
# formatter=form07
# args=('localhost', 'from@abc', ['user1@abc', 'user2@xyz'], 'Logger Subject')

# [handler_hand08]
# class=handlers.MemoryHandler
# level=NOTSET
# formatter=form08
# target=
# args=(10, ERROR)

# [handler_hand09]
# class=handlers.HTTPHandler
# level=NOTSET
# formatter=form09
# args=('localhost:9022', '/log', 'GET')

# -- formatters -- 
[formatters]
keys=form01,form02

[formatter_form01]
format=%(asctime)s %(filename)s:%(lineno)3d %(levelname)s %(message)s
datefmt=%Y-%m-%d %H:%M:%S
class=logging.Formatter

[formatter_form02]
format=[%(asctime)s][%(filename)s:%(lineno)3d][%(levelname)s] %(message)s
datefmt=
class=logging.Formatter
